<div class="container">
  <app-navbar title="Patient"></app-navbar>

  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource">

      <!-- FirstName Column -->
      <ng-container matColumnDef="FirstName">
        <mat-header-cell *matHeaderCellDef> FirstName </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.FirstName}} </mat-cell>
      </ng-container>

      <!-- LastName Column -->
      <ng-container matColumnDef="LastName">
        <mat-header-cell *matHeaderCellDef> LastName </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.LastName}} </mat-cell>
      </ng-container>

      <!-- CNP Column -->
      <ng-container matColumnDef="CNP">
        <mat-header-cell *matHeaderCellDef> CNP </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.CNP}} </mat-cell>
      </ng-container>

      <!-- Sex Column -->
      <ng-container matColumnDef="Sex">
        <mat-header-cell *matHeaderCellDef> Sex </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Sex}} </mat-cell>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="Address">
        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Address}} </mat-cell>
      </ng-container>

      <!-- Telephone Column -->
      <ng-container matColumnDef="Telephone">
        <mat-header-cell *matHeaderCellDef> Telephone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Telephone}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <br>
  </div>
  <br>
  <button mat-icon-button (click)="addPatient()">
      <i class="material-icons">add</i> Add patient
  </button>
</div>