<div class="backgroundColor">
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <form class="row"  #userLoginForm="ngForm">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <div class="card">
          <div class="card-header">
            <mat-icon>account_circle</mat-icon>
            <h4>Login to eHospital</h4>
          </div>
          <div class="card-form">
            <div class="form-row">
              <i class="material-icons">email</i>
              <mat-input-container color="accent">
                <input type="text" matInput placeholder="Email address"  name="Email" [(ngModel)]="user.Email" required pattern="userService.emailPattern"/>
              </mat-input-container>
            </div>
            <div class="form-row">
              <i class="material-icons">lock_outline</i>
              <mat-input-container color="accent">
                <input type="password" matInput placeholder="Password" required name="Password" [(ngModel)]="user.Password"/>
              </mat-input-container>
            </div>
          </div>
          <div class="card-footer">
            <button mat-button type="submit" [disabled]="!userLoginForm.valid" (click)="loginBtn()">Login</button>
          </div>
          <div class="text-center">
            <span> Don't have an account?
              <a class="test-info fa-external-link" href="/user/signup">Register</a>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>