<div class="back">
  <div class="login-register">
    <div class="login-register-box white">
      <form class="col s12" #userLoginForm="ngForm" (ngSubmit)="OnLogin(userLoginForm)">
        <div class="text-center">
          <mat-icon>account_circle</mat-icon>
          <h4 class="m-t-0">Login to eHospital</h4>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="user.Email" [pattern]="emailPattern" required>
            <label data-error="Invalid email!">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="3">
            <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <button [disabled]="!userLoginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
          </div>
        </div>
      </form>
      <div class="text-center">
        <span > Don't have an account? 
          <a class="test-info fa-external-link" href="/signup">Register</a>
        </span>
      </div>
    </div>
  </div>
</div>